* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange: #ff5f50;
}

body {
  padding: 3% 6%;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

/* ------------- Navbar start ------------- */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 300px;
}

.nav-item {
  margin: 0 30px;
  font-size: 20px;
  cursor: pointer;
}

.nav-item.active-item {
  color: var(--orange);
}

img[alt="actions"] {
  margin-left: 120px;
  cursor: pointer;
}

.menu-icon {
  display: none;
  height: 32px;
  cursor: pointer;
}

/* ------------- Navbar end ------------- */

/* ------------- Section start ------------- */

.intro-section {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
}

.intro-section .left-section {
  padding-top: 50px;
}

/* ------------- Left section start ------------- */
.left-section h3 {
  font-size: 36px;
  font-weight: normal;
}

.left-section h3 img {
  height: 36px;
}

.left-section h1 {
  font-family: "Fredoka One", sans-serif;
  font-size: 60px;
  font-weight: normal;
  padding-top: 10px;
}

.sub-headlines {
  padding: 30px 60px;
}

.sub-headline {
  font-size: 24px;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.sub-headline img {
  background-color: var(--orange);
  padding: 8px;
  border-radius: 50%;
  height: 30px;
  margin-right: 20px;
}

.left-section .text {
  font-size: 14px;
  color: #c8c8c8;
}

.left-section .action-btns {
  margin-top: 40px;
}

.left-section .action-btn {
  font-family: "Poppins", sans-serif;
  background-color: var(--orange);
  color: #ffffff;
  border-radius: 30px;
  border: none;
  padding: 10px 25px;
  font-size: 20px;
  margin-right: 20px;
}

/* ------------- Left section end ------------- */

/* ------------- Roght section start ------------- */

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headphone-div {
  position: relative;
}

.discount {
  position: absolute;
  left: -10%;
  bottom: 15%;
  height: 120px;
}

.discount-content {
  position: absolute;
  left: -3%;
  bottom: 22%;
  font-family: "Fredoka One", sans-serif;
  color: #ffffff;
  text-align: center;
}

.discount-content h4 {
  font-size: 12px;
  font-weight: normal;
}

.discount-content h1 {
  font-size: 36px;
  font-weight: normal;
}

img[alt="headphone"] {
  height: 420px;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  padding: 10px 0;
}

.dots .dot {
  height: 26px;
  width: 26px;
  border-radius: 13px;
}

.dot.yellow-dot {
  background-color: #f7cd2e;
}

.dot.tomato-dot {
  background-color: var(--orange);
}

.dot.black-dot {
  background-color: #000000;
}

.right-section .action-btn {
  font-family: "Poppins", sans-serif;
  background-color: var(--orange);
  color: #ffffff;
  border-radius: 30px;
  border: none;
  padding: 10px 25px;
  font-size: 20px;
  margin-top: 25px;
}

/* ------------- Right section end ------------- */

/* ------------- Section end ------------- */

@media screen and (max-width: 1199px) {
  body {
    padding: 2% 3%;
  }
  img[alt="logo"] {
    height: 40px;
  }
  .nav-items {
    margin-left: 70px;
  }
  .nav-item {
    margin: 0 20px;
    font-size: 18px;
  }
  img[alt="actions"] {
    margin-left: 20px;
  }
  .intro-section {
    padding-bottom: 0;
  }
  .sub-headlines {
    padding: 20px 40px;
  }
}

@media only screen and (max-width: 991px) {
  .nav-items {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  img[alt="actions"] {
    margin-left: 200px;
  }
  .left-section h3 {
    font-size: 32px;
  }
  .left-section h3 img {
    height: 32px;
  }
  .left-section h1 {
    font-size: 48px;
  }
  .sub-headlines {
    padding: 20px;
  }
  .sub-headline {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .sub-headline img {
    padding: 6px;
    height: 24px;
    margin-right: 10px;
  }
  .left-section .action-btns {
    margin-top: 30px;
  }
  .left-section .action-btn {
    padding: 8px 14px;
    font-size: 16px;
    margin-right: 10px;
  }
  img[alt="headphone"] {
    height: 380px;
    margin-top: 40px;
  }
  .right-section .action-btn {
    padding: 8px 14px;
    font-size: 16px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 767px) {
  img[alt="actions"] {
    display: none;
  }
  .intro-section {
    flex-direction: column-reverse;
  }
  img[alt="headphone"] {
    margin-top: 0;
  }
  .dots .dot {
    height: 22px;
    width: 22px;
    border-radius: 11px;
  }
}

@media only screen and (max-width: 600px) {
  img[alt="headphone"] {
    height: 320px;
  }
  .discount {
    left: -5%;
    height: 100px;
  }
  .discount-content {
    position: absolute;
    left: 2%;
  }
  .discount-content h4 {
    font-size: 10px;
  }
  .discount-content h1 {
    font-size: 30px;
  }
}
